/* Variables */

$gray: #535353;
$temporary_1: red;
$temporary_2: green;
$temporary_3: blue;
$temporary_4: white;




/* Website Sections */

body
{
	/* Header */
	
	header
	{
		.logo
		{
			background: white;
			
			a
			{
				img
				{
					height: 150px;
					width: 150px;
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		
		nav
		{
			background: white;
			height: 150px;
			
			ul
			{	
				li
				{
					float: left;
					list-style: none;
					padding: 5px 40px 5px 40px;
					color: $gray;
					font-family: Arial;
					font-size: 26px;
					
					a
					{
						color: $gray;
					}
				}
			}
		}
	}



	/* Banner */
	
	.banner
	{
		background: $gray;
		
		img
		{
			max-width: 100%;
		}
		
		
		h1
		{
			font-size: 80px;
			font-family: Arial;
			color: white;
		}
		
		
		h2
		{
			font-size: 26px;
			font-family: Arial;
			font-style: italic;
			color: white;
		}
		
		
		button
		{
			background-color: transparent;
			border-color: white;
			font-size: 16px;
			color: white;
		}
	}



	/* About Me */
	
	.about_me
	{
		.photo
		{
		
			img
			{
				height: 400px;
			}
			
		}
		
		
		.content
		{
			background: $gray;
			height: 200px;
			
			h1
			{
				font-size: 28px;
				color: white;
			}
			
			h2
			{
				font-size: 20px;
				color: white;
			}
			
			p
			{
				font-size: 16px;
				color: white;
			}
			
			ul
			{
				li
				{
					float: left;
					list-style: none;
					padding: 5px 5px 5px 5px;
					
					a
					{
						img
						{
							width: 16px;
						}
					}
				}
			}
		}
	}
	
	
	
	/* Education */
	
	.education
	{
		background: $gray;
		height: 200px;
		color: white;
		
		.institution
		{
			float: left;
			
			h1
			{
				font-size: 20px;
				font-style: bold;
				text-align: center;
			}
			
			h2
			{
				font-size: 18px;
				text-align: center;
			}
			
			h3
			{
				font-size: 16px;
				font-style: italic;
				text-align: center;
			}
			
			h4
			{
				font-size: 16px;
				text-align: center;
			}
			
			p
			{
				font-size: 14px;
				text-align: justify;
			}
		}
	}
	
	
	
	/* Personal Skills */
	
	.personal_skills
	{
		background: $gray;
		color: white;
		
		.skill_types
		{
			h1
			{
				font-size: 20px;
			}
			
			ul
			{
				li
				{
					list-style: none;
					font-size: 16px;
				}
			}
		}
	}
	
	
	
	/* Work Experience */
	
	.work_experience
	{
		
	}
	
	
	
	/* Contact Me */
	
	.contact_me
	{
	
	}
	
	
	
	/* Footer */
	
	footer
	{
		
	}
}