// Variables
$gray: #414141;
$light_gray: rgb(129, 129, 129);
$dark_gray: #3b3b3b;
$temporary_1: red;
$temporary_2: green;
$temporary_3: blue;
$temporary_4: white;

// Colours for Background
$white_background: #ffffff;
$black_background: #1e2123;

// Colours for Links
$unvisited_link: #535353;
$hover_link: #000000;
$active_link: #575757;

// Other Colours
$homeArrowColour: #767676;
$photo_holder_color: #8C8C8C;
$photo_holder_border: #000000;



body
{
    font-family: 'Ubuntu';
    
    // Start Home Arrow
    .home_arrow
    {
        display: none;
        position: fixed;
        z-index: 3;
        bottom: 20px;
        right: 40px;
        padding: 10px;
        font-size: 30px;

        a
        {
            color: $homeArrowColour;
        }
    }
    // End Home Arrow
	
	// Start Header
	header
	{
        background: $white_background;

        .row
        {
            .navbar
            {
                margin: auto;

                .logo
                {
                    img
                    {
                        height: 130px;
                        display: block;
                        margin: 15px auto;
                    }
                }

                .navbar-toggler
                {
                    span
                    {
                        
                    }
                }

                #navbarSupportedContent
                {
                    .navbar-nav     // ul
                    {
                        .nav-item   // li
                        {
                            float: left;
                            list-style: none;
                            padding: 5px 25px;
                            font-size: 28px;

                            a
                            {
                                color: $unvisited_link;
                            }
        
                            a:hover
                            {
                                color: $hover_link;
                            }
                        }

                        .first_element  // first li
                        {
                            padding-left: 50px;
                        }
                    }
                }
            }
        }
    }
    // End Header

	// Start Banner
	.banner
	{
		&_image
		{
            
        }
		
		&_content
		{
			position: absolute;
			z-index: 2;
			top: 50%;
			right: 10%;
			padding: 25px;
			animation: fade 1s linear;
			text-align: center;

			border-style: solid;
			border-width: 6px;
			border-radius: 40px;
            border-color: white;

            .blur
            {
                border-radius: 35px;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                top: 0;
                left: 0;
            }
			
			h1
			{
				font-size: 80px;
				font-family: 'Ubuntu';
				font-weight: bold;
				letter-spacing: 10px;
				color: white;
				position: relative;
				animation: fadeTop 1s linear;
			}
            
			h2
			{
				font-size: 36px;
				font-family: 'Ubuntu';
				font-style: italic;
				letter-spacing: 5px;
				padding-bottom: 30px;
				color: white;
				position: relative;
				animation: fadeTop 1s linear;
			}
			
			button
			{
				background-color: transparent;
				font-family: 'Ubuntu';
				font-size: 22px;
				letter-spacing: 3px;
				color: white;
				padding: 10px;
				border-style: solid;
				border-width: 4px;
				border-radius: 10px;
				border-color: white;
				position: relative;
                animation: fadeBottom 1s linear;

                a
                {
                    color: white;
                }

                a:hover
                {
                    color: white;
                }
                
                a:active
                {
                    color: white;
                }
			}
		}
    }
    // End Banner

	// Start About Me
	.about_me
	{
		&_container
		{
			background: $white_background;
			padding-top: 150px;
			padding-bottom: 150px;
			
			.row
			{
				.photo_holder
				{
					background: $photo_holder_color;
					transform: rotate(45deg);
                    opacity: 0;
                    
                    height: 100%;
                    padding: 0px;
                    
                    border-style: solid;
                    border-width: 5px;
                    border-color: black;
                    border-radius: 30px;
                    
                    .photo
                    {
                        padding: 40px;

                        img
                        {
                            width: 100%;
                            border-style: double;
                            border-width: 10px;
                            border-color: black;
                        }
                    }
				}
				
				
				.content_holder
				{
					background: $black_background;
                    transform: rotate(45deg);
                    opacity: 0;

                    width: 100%;
                    padding: 0px;
					
                    border-style: solid;
                    border-width: 5px;
                    border-color: black;
                    border-radius: 30px;
					
					.content
					{
                        height: 100%;
                        padding: 80px;
						transform: rotate(-45deg);
						color: white;
						
						h1
						{
                            font-size: 50px;
                            text-align: center;
						}
						
						h2
						{
                            font-size: 30px;
                            text-align: center;
                            margin-top: 10px;
						}
						
						p
						{
                            font-size: 16px;
                            text-align: justify;
                            margin-top: 30px;
                            margin-bottom: 70px;
                        }
                        
                        .social_media_buttons
                        {
                            .social_media_button
                            {
                                float: left;
                                width: 20%;
                                text-align: center;

								a
								{
									i
									{
                                        font-size: 40px;
                                        color: white;
									}
								}
                            }
                        }
					}
				}	
			}
		}		
	}
	// End About Me

	// Start Education
	.education
	{
		background: $black_background;
		color: white;
		padding-top: 50px;
		padding-bottom: 50px;
		
		&_container
		{	
			.title
			{
				text-transform: uppercase;
				letter-spacing: 10px;
				padding-bottom: 30px;
			}
			
			.content
			{
				.institution
				{
                    opacity: 0;

					h1
					{
						font-size: 24px;
						font-style: bold;
                        text-align: center;
                        letter-spacing: 5px;
					}
					
					h2
					{
                        font-size: 20px;
                        text-align: center;
                        letter-spacing: 2px;
					}
					
					h3
					{
						font-size: 16px;
						font-style: italic;
                        text-align: center;
                        letter-spacing: 2px;
					}
					
					h4
					{
						font-size: 16px;
                        text-align: center;
                        letter-spacing: 2px;
					}
					
					p
					{
						font-size: 14px;
						text-align: justify;
					}
				}			
			}
		}
    }
    // End Education

	// Start Personal Skills
	.personal_skills
	{
		background: $white_background;
		color: black;
		padding-top: 50px;
		padding-bottom: 50px;
		
		&_container
		{
			.title
			{
				text-transform: uppercase;
				letter-spacing: 10px;
				padding-bottom: 30px;
			}
			
			.content
			{
				.skill_types
				{
                    opacity: 0;

					h1
					{
                        font-size: 24px;
                        letter-spacing: 5px;
                        text-align: center;
                        margin-bottom: 20px;
					}
					
					ul
					{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        
                        li
						{
                            font-size: 16px;
                            text-align: center;
						}
					}
				}
			}
		}
    }
    // End Personal Skills
	
	// Start Work Experience
	.work_experience
	{
		background: $black_background;
		color: white;
		padding-top: 50px;
		padding-bottom: 50px;
		
		&_container
		{	
			.title
			{
				text-transform: uppercase;
				letter-spacing: 10px;
				padding-bottom: 30px;
			}
			
			.content
			{
				.position
				{
                    opacity: 0;
                    text-align: center;

                    h1
                    {
                        font-size: 24px;
                    }
                    
                    h2
                    {
                        font-size: 20px;
                        font-style: italic;
                    }

                    h3
                    {
                        font-size:16px;
                    }
                    
                    p
                    {
                        font-size: 14px;
                        text-align: justify;
                    }
                }
			}
		}		
    }
    // End Work Experience
	
	/* Start Contact Me */
	.contact_me
	{
		background: $white_background;
		color: black;
		padding-top: 50px;
		padding-bottom: 50px;
		
		&_container
		{
			.title
			{
				text-transform: uppercase;
				letter-spacing: 10px;
				padding-bottom: 30px;
			}
			
			.content
			{				
				.contact_me_form
				{					
					form
					{
						label
						{
							font-size: 20px;
							letter-spacing: 1px;
						}
						
						input
						{
							display: block;
							margin-bottom: 20px;
						}
						
						textarea
						{
							display: block;
						}
					}
				}
				
				.contact_info
				{
                    padding: 180px 0px;

                    p
                    {
                        font-size: 24px;
                        letter-spacing: 2px;
                    }

					ul
					{
                        list-style: none;
                        padding: 0;

						li
						{
                            float: left;
                            padding-top: 10px;
                            padding-right: 58px;

                            a
                            {
                                i
                                {
                                    font-size: 40px;
                                    color: black;
                                }
                            }
						}
					}
				}
			}
		}	
	}
	/* End Contact Me */
	
	
	/* Start Footer */
	footer
	{
        background: $black_background;

        .container
        {
            color: white;
            
            .social_media
            {
                padding-left: 350px;
                padding-right: 350px;

                ul
                {
                    padding: 0;
                    list-style: none;
                    
                    li
                    {
                        display: inline;
                        padding-right: 50px;
    
                        a
                        {
                            i
                            {
                                color: white;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
            
            .other_information
            {
                padding-left: 350px;
                padding-right: 350px;

                ul
                {
                    padding: 0;
                    list-style: none;
                    line-height: 30px;
                    li
                    {
                        font-size: 18px;
                        letter-spacing: 200;
                    }
                }
            }

            .copyright
            {
                padding-left: 350px;
                padding-right: 350px;

                p
                {
                    font-size: 18px;
                }
            }
        }
    }
    /* End Footer */
}



/* Animations */

@keyframes fadeTop
{
	from
	{
		opacity: 0;
		top: -30px;
	}
	
	to
	{
		opacity: 1;
		top: 0px;
	}
}


@keyframes fadeBottom
{
	from
	{
		opacity: 0;
		top: 30px;
	}
	
	to
	{
		opacity: 1;
		top: 0px;
	}
}


@keyframes fadeRight
{
	from
	{
		opacity: 0;
		right: -30px;
	}
	
	to
	{
		opacity: 1;
		right: 0px;
	}
}


@keyframes fadeLeft
{
	from
	{
		opacity: 0;
		right: 30px;
	}
	
	to
	{
		opacity: 1;
		right: 0px;
	}
}


@keyframes fade
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}


.animation_fadeTop
{
	animation: fadeTop 1s linear;
	animation-fill-mode: forwards;
}


.animation_fadeTopDelay1
{
    animation: fadeTop 1s linear;
    animation-delay: 0.5s;
	animation-fill-mode: forwards;
}


.animation_fadeTopDelay2
{
    animation: fadeTop 1s linear;
    animation-delay: 1s;
	animation-fill-mode: forwards;
}


.animation_fadeTopDelay3
{
    animation: fadeTop 1s linear;
    animation-delay: 1.5s;
	animation-fill-mode: forwards;
}


.animation_fadeRight
{
	animation: fadeRight 1s linear;
	animation-fill-mode: forwards;
}


.animation_fadeLeft
{
	animation: fadeLeft 1s linear;
	animation-fill-mode: forwards;
}